version: "3.3"

services:
  mongodb:
    container_name: alpine-mongodb-3.4.4
    build:
      context: ../../
      dockerfile: ./docker/common/mongodb/Dockerfile
    restart: always
    ports:
      - target: 27017
        published: 27017
    volumes:
      - type: volume
        source: mongo_data
        target: /data/db

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    depends_on:
      - mongodb
    restart: always
    ports:
      - target: 8081
        published: 8081
    env_file:
      - ../../env/mongo-express.env

  fastapi:
    container_name: fastapi
    build:
      context: ../../
      dockerfile: ./docker/common/Dockerfile
    depends_on:
      - mongodb
      - mongo-express
    ports:
      - target: 8000
        published: 8000
    volumes:
      - type: bind
        source: ../../api
        target: /usr/src/api

volumes:
  mongo_data:


